

:root{
  --primary-white: rgb(230, 219, 219);
}

nav{
  background-color: #003840;
}

.navbar-nav .nav-link{
  font-size: 0.75rem;
  cursor: pointer;
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

.navbar-nav>li>a {
  margin: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;

}

.logo {
  width: 9rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a.active, .navbar-nav>li>a:focus {
  border-radius: 3px;
  border-top: 0.1675rem solid orange;
  border-right: 0.1675rem solid orange;
  border-left: 0.1675rem solid orange;
  border-bottom: 0.1675rem solid orange;
}

.navbar-nav>li>a:hover {
  border-top: 0.1675rem solid orange;
}